doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Ayush Kumar Portfolio')
  meta(name='keywords' content='Ayush Kumar,Ayush,Ayush Kumar Portfolio')
  meta(name='author' content='Ayush Kumar')
  meta(name='theme-color' content='#8261ee')
  // Raleway CDN Google Fonts
  link(rel='preload' href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap' as='style')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://embed.typeform.com')
  link(rel='preload' href='assets/webfonts/fa-brands-400.woff2' as='font' type='font/woff2' crossorigin='')
  link(rel='preload' href='assets/webfonts/fa-solid-900.woff2' as='font' type='font/woff2' crossorigin='')
  title Ayush Kumar
  // Additional CSS Files
  link(rel='preload' href='assets/css/bootstrap.min.css' as='style')
  link(rel='stylesheet' type='text/css' href='assets/css/bootstrap.min.css')
  link(rel='preload' href='assets/css/all.min.css' as='style')
  link(rel='stylesheet' type='text/css' href='assets/css/all.min.css')
  link(rel='preload' href='assets/css/scroll-down.css' as='style' media='screen and (min-width: 720px)')
  link(rel='stylesheet' type='text/css' href='assets/css/scroll-down.css' media='screen and (min-width: 720px)')
  link(rel='preload' href='assets/css/portfolio.css' as='style')
  link(rel='stylesheet' href='assets/css/portfolio.css')
  link(rel='preload' href='assets/css/kursor.min.css' as='style' media='screen and (min-width: 720px)')
  link(rel='stylesheet' href='assets/css/kursor.min.css' media='screen and (min-width: 720px)')
  link(rel='shortcut icon' href='assets/images/logo/logo-icon.svg' type='image/x-icon')
// ***** Preloader Start *****
#preloader
  .jumper
    div
    div
    div
// ***** Preloader End *****
// ***** Header Area Start *****
header.header-area.header-sticky
  #navbars.container
    .row
      .col-12
        nav.main-nav
          // ***** Logo Start *****
          a.logo(href='#welcome')
            img#services2(src='assets/images/logo/logo-icon.svg' loading='lazy' width='40px' height='40px' alt='Ayush Kumar Logo')
            img#services(src='assets/images/logo/logo.svg' loading='lazy' width='160px' height='30px' alt='Ayush Kumar Logo')
          // ***** Logo End *****
          // ***** Menu Start *****
          ul.nav
            // <li><a href="#welcome" class="active">Home</a></li>
            li
              a(href='#blog') The Work
            li
              a(href='#work-process') The Process
            li
              a(href='#testimonials') The Proof
            li
              a(href='#pricing-plans') The Price
            li
              a(href='#contact-us') The Contact
          a.menu-trigger
            span Menu
          // ***** Menu End *****
// ***** Header Area End *****
// ***** Welcome Area Start *****
#welcome.welcome-area
  // ***** Header Text Start *****
  .header-text
    .container
      .row(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.4s')
        .offset-xl-3.col-xl-6.offset-lg-2.col-lg-8.col-md-12.col-sm-12
          //
            <p id="hithere" data-scroll-reveal="enter bottom move 50px over 0.4s after 0.2s">Hi 👋,</p>
            <h1 data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">I'm Ayush, a <strong>Problem Solver</strong><img src="assets/images/and.svg" class="andsvg" /><strong>Pixel Pusher</strong></h1>
          p#hithere(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.2s')
            | Hi &#x1F44B;, I&apos;m Ayush
          h1(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.4s')
            | I craft 
            br
            strong Experiences
            br
            | people love
            br
            | to
            |                 use
          p.pdesk
            | A 
            strong Multidisciplinary Designer
            |  and
            strong UX Consultant
          p.pmob
            strong UI Designer 
            |  &amp; 
            strong  UX Consultant
            | .
          //
            <p class="pdesk" id="pdesk">Of course, there’s a lot more to me than just a few fancy titles.
            </p>
          a.main-button-slider(href='#blog' aria-label='Know Me' title='See Projects') Know Me
          section#section10.demo.pdesk
            a(href='#second-vp' style='font-size: 10px')
              span
              | Scroll to know more
  // ***** Header Text End *****
// ***** Welcome Area End *****
// ***** Features Small Start *****
section#second-vp.section.home-feature
  .container
    .row
      h2#center.section-title(style='font-size: 28px')
        | How can I help you?
      br
      br
      .col-lg-12
        .row
          // ***** Features Small Item Start *****
          .col-lg-4.col-md-6.col-sm-6.col-12(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.2s')
            .features-small-item
              .icon
                i
                  img(src='assets/images/home-feature/ui.svg' loading='lazy' width='50px' height='50x' alt='')
              h3.features-title UI Designing
              p.pdesk
                | I love designing as well as redesigning websites, apps and
                | all kinds of digital products
              p.pmob
                | I love designing as well as redesigning websites, mobile
                | apps, posters, and all kinds of digital products
          // ***** Features Small Item End *****
          // ***** Features Small Item Start *****
          .col-lg-4.col-md-6.col-sm-6.col-12(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.4s')
            .features-small-item
              .icon
                i
                  img(src='assets/images/home-feature/ux.svg' loading='lazy' width='45px' height='45px' alt='')
              h3.features-title UX Consultation
              p.pdesk
                | I love helping out people grow their business by finding
                | their existing loopholes
              p.pmob
                | I help companies in growing their business and reaching
                | their full potential by solving their problems
              // I help companies in growing their business and reaching their full potential.
          // ***** Features Small Item End *****
          // ***** Features Small Item Start *****
          .col-lg-4.col-md-6.col-sm-6.col-12(data-scroll-reveal='enter bottom move 50px over 0.4s after 0.6s')
            .features-small-item
              .icon
                i
                  img(src='assets/images/home-feature/branding.svg' loading='lazy' width='52px' height='52px' alt='')
              h3.features-title Branding
              p.pdesk
                | I help companies in creating an online presence or
                | increasing their existing engagement
              p.pmob
                | I help companies in creating an online presence or
                | increasing their existing customer engagement
          // ***** Features Small Item End *****
// ***** Features Small End *****
// ***** Blog Start *****
section#blog.section
  .container
    // ***** Section Title Start *****
    .row
      .col-lg-12
        .center-heading
          h2.section-title The Work
      .offset-lg-3.col-lg-6
        .center-text
          p Some of my curated projects
    // ***** Section Title End *****
    .row
      .col-lg-4.col-md-6.col-sm-12
        .blog-post-thumb
          .img
            a(href='https://missioned.netlify.com' title='MissionEd Case Study' aria-label='MissionEd Case Study')
              img(src='assets/images/projects/missioned.webp' loading='lazy' width='370' height='220' alt='MissionEd Case Study')
          .blog-content
            h3
              a(href='https://missioned.netlify.com') MissionEd Revamp
            .text Branding, Designing, Development
            a.main-button(href='https://missioned.netlify.com') Know More
      .col-lg-4.col-md-6.col-sm-12
        .blog-post-thumb
          #proj1.img
            a(href='http://harry-sharma.netlify.com' title='Harry Sharma Portfolio' aria-label='Harry Sharma Portfolio')
              img(src='assets/images/projects/harry-portfolio.webp' loading='lazy' width='370' height='220' alt='Harry Sharma Portfolio')
          .blog-content
            h3
              a(href='http://harry-sharma.netlify.com') Harry Sharma Portfolio
            .text Design and Development
            a.main-button(href='http://harry-sharma.netlify.com') Know More
      .col-lg-4.col-md-6.col-sm-12
        .blog-post-thumb
          #proj2.img
            a(href='https://www.figma.com/proto/yfP756xcpkDNxUM3rzKsp5/Dridh-Sankalp-Website-Redesign?node-id=3%3A893&viewport=728%2C616%2C0.08448927849531174&scaling=min-zoom' title="Harry's Portfolio" aria-label='Dridh Sankalp Foundation')
              img(src='assets/images/projects/dsf.webp' loading='lazy' width='370' height='220' alt='Dridh Sankalp Foundation')
          .blog-content
            h3
              a(href='https://www.figma.com/proto/yfP756xcpkDNxUM3rzKsp5/Dridh-Sankalp-Website-Redesign?node-id=3%3A893&viewport=728%2C616%2C0.08448927849531174&scaling=min-zoom') Dridh Sankalp Foundation
            .text Web and Graphics Designing
            a.main-button(href='https://www.figma.com/proto/yfP756xcpkDNxUM3rzKsp5/Dridh-Sankalp-Website-Redesign?node-id=3%3A893&viewport=728%2C616%2C0.08448927849531174&scaling=min-zoom') Know More
    br
    br
    #p3.offset-lg-3.col-lg-6
      .center-text
        p Some of my personal projects
    // Second Row of Projects
    #p2.row
      .col-lg-4.col-md-6.col-sm-12
        .blog-post-thumb
          .img
            a(href='https://dribbble.com/shots/14519746-Amigo' title='Amigo Case Study' aria-label='Amigo')
              img(src='assets/images/projects/amigo.webp' loading='lazy' width='370' height='220' alt='Amigo Case Study')
          .blog-content
            h3
              a(href='#') Amigo
            .text Pandemic Assistance App
            a.main-button(href='https://dribbble.com/shots/14519746-Amigo') Know More
      .col-lg-4.col-md-6.col-sm-12
        .blog-post-thumb
          .img
            a(href='https://ibb.co/HpHsZ6d' title='Christeria Case Study' aria-label='Christeria Case Study')
              img(src='assets/images/projects/christeria.webp' loading='lazy' width='370' height='220' alt='Christeria Case Study')
          .blog-content
            h3
              a(href='#') Christeria
            .text College Cafeteria App
            a.main-button(href='https://ibb.co/HpHsZ6d') Know More
      .col-lg-4.col-md-6.col-sm-12
        .blog-post-thumb
          .img
            a(href='https://dribbble.com/shots/14043625-Graphic-Designing' title='Graphic Designing' aria-label='Graphic Designing')
              img(src='assets/images/projects/graphic-design.webp' loading='lazy' width='370' height='220' alt='Graphic Designing')
          .blog-content
            h3
              a(href='#') Graphic Designing
            .text Graphics and Illustrations
            a.main-button(href='https://dribbble.com/shots/14043625-Graphic-Designing') Know More
// ***** Home Parallax Start *****
section#work-process.mini
  .mini-content
    .container
      .row
        .offset-lg-3.col-lg-6
          .info
            h1 The Process
            p
              | Although I provide personalized solutions based on the client
              | needs, however having a process simplifies the workflow.
      // ***** Mini Box Start *****
      .row
        .col-lg-2.col-md-3.col-sm-6.col-6
          a.mini-box(href='#')
            // <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            strong 1. I Listen
            span
              | Client 
              br
              | Goals, 
              br
              | Problems, 
              br
              | Challenges
        .col-lg-2.col-md-3.col-sm-6.col-6
          a.mini-box(href='#')
            // <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            strong 2. I Research
            span
              | User 
              br
              | Goals, 
              br
              | Pain-points, 
              br
              | Demographic
        .col-lg-2.col-md-3.col-sm-6.col-6
          a.mini-box(href='#')
            // <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            strong 3. I Create
            span
              | User 
              br
              | Personas, 
              br
              | Scenarios, 
              br
              | Experience
        .col-lg-2.col-md-3.col-sm-6.col-6
          a.mini-box(href='#')
            // <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            strong 4. I Deliver
            span
              | Designs, 
              br
              | Mock-Ups, 
              br
              | Prototypes,
              br
              | Style
              |                   Guides
        .col-lg-2.col-md-3.col-sm-6.col-6
          a.mini-box(href='#')
            // <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            strong 5. I Analyse
            span
              | A/B Testing,
              br
              | Audit Reports,
              br
              | Usability Tests,
              br
              | Review Metrics
        .col-lg-2.col-md-3.col-sm-6.col-6
          a.mini-box(href='#')
            // <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            strong 6. I Revise
            span
              | Research, 
              br
              | Re-design, 
              br
              | Analyse, 
              br
              | Iterate
      // ***** Mini Box End *****
// ***** Home Parallax End *****
// ***** Testimonials Start *****
section#testimonials.section
  .container
    // ***** Section Title Start *****
    .row
      .col-lg-12
        .center-heading
          h2.section-title The Proof
      .offset-lg-3.col-lg-6
        .center-text
          p.pdesk
            | My clients love my work, but don&apos;t take the word for it,
            br
            | here&apos;s what they have to say about me.
          p.pmob
            | My clients love my work, here&apos;s what 
            br
            | they have to say
            |                 about me.
    // ***** Section Title End *****
    .row
      // ***** Testimonials Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.2s')
        .team-item
          .team-content
            i.testi
              img(src='assets/images/testimonials/icon.svg' loading='lazy' width='35px' height='35px' alt='')
              // <img src="assets/images/testimonial-icon-hover.svg" width="35px" height="35px" alt=""/>
            p
              | &quot;Ayush is the best designer I have ever worked with. He will
              | always exceed your expectations and he always delivers amazing
              | designs. He has solid skills in both UI and UX. He goes the
              | extra mile and gives professional guidance that improves the
              | overall outcome of the project.&quot;
            .user-image
              img(src='assets/images/testimonials/missioned.webp' loading='lazy' width='60px' height='60px' alt='')
            .team-info
              h3.user-name Prithvi Sinha
              span Founder, MissionEd
      // ***** Testimonials Item End *****
      // ***** Testimonials Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.4s')
        #pink.team-item
          .team-content
            i.testi
              img(src='assets/images/testimonials/icon.svg' loading='lazy' width='35px' height='35px' alt='')
              // <img src="assets/images/testimonial-icon-hover.svg" width="35px" height="35px" alt=""/>
            p
              | &quot;Ayush is a great person to have in the team, always ready to
              | help, giving his best in any task, and willing to develop his
              | skills further. He always exceeds expectations and delivers
              | stellar designs. He did a phenomenal work and I can recommend
              | him without a doubt&quot;
            .user-image
              img(src='assets/images/testimonials/electroshoe.webp' loading='lazy' alt='' width='60px' height='60px')
            .team-info
              h3.user-name Siddharth Mandala
              span CEO, Electroshoe
      // ***** Testimonials Item End *****
      // ***** Testimonials Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.6s')
        .team-item
          .team-content
            i.testi
              img(src='assets/images/testimonials/icon.svg' loading='lazy' width='35px' height='35px' alt='')
              // <img src="assets/images/testimonial-icon-hover.svg" width="35px" height="35px" alt=""/>
            p
              | &quot;Ayush is one of the best UI/UX designers I have ever come
              | across. 
              br
              | I worked with him on one of my projects, and it
              |                   was great working with him. He is very dedicated and
              |                   passionate about his work. I would recommend Ayush to anyone
              |                   who is looking for a designer.&quot;
            .user-image
              img(src='assets/images/testimonials/dsf.webp' loading='lazy' alt='' width='60px' height='60px')
            .team-info
              h3.user-name Rambabu Sharma
              span Founder, Dridh Sankalp
      // ***** Testimonials Item End *****
// ***** Testimonials End *****
// ***** Counter Parallax Start *****
section.counter
  .content
    .container
      .row
        .col-lg-3.col-md-6.col-sm-12
          .count-item.decoration-bottom
            strong 30
            span Projects
        .col-lg-3.col-md-6.col-sm-12
          .count-item.decoration-top
            strong 10
            span Happy Clients
        .col-lg-3.col-md-6.col-sm-12
          .count-item.decoration-bottom
            strong 5
            span Countries
        .col-lg-3.col-md-6.col-sm-12
          .count-item
            strong 3
            span Years
// ***** Counter Parallax End *****
// ***** Pricing Plans Start *****
section#pricing-plans.section.colored
  .container
    // ***** Section Title Start *****
    .row
      .col-lg-12
        .center-heading
          h2.section-title The Price
      .offset-lg-3.col-lg-6
        .center-text
          p.pdesk
            | While compensation is important but I really want to 
            br
            | look
            |                 at the entire value of working with you!
          p.pmob
            | While compensation might be important 
            br
            | but I really want to
            |                 look at the entire 
            br
            | value of working with you!
    // ***** Section Title End *****
    .row
      // ***** Pricing Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.2s')
        .pricing-item
          .pricing-header
            h3.pricing-title Basic
          .pricing-body
            .price-wrapper
              span.currency $
              span.price 50
              span.period per project
            ul.list
              li.active Consultation
              li.active Reviewing
              li.active Ideation
              li Branding
              li Designing
              li Deployment
          .pricing-footer
            a.main-button(href='https://form.typeform.com/to/YDb5aG') Book Now
      // ***** Pricing Item End *****
      // ***** Pricing Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.4s')
        .pricing-item.active
          .pricing-header
            h3.pricing-title Standard
          .pricing-body
            .price-wrapper
              span.currency $
              span.price 500
              span.period per project
            ul.list
              li.active Branding
              li.active Strategy
              li.active Designing
              li Photography
              li Copywriting
              li Deployment
          .pricing-footer
            a#standard.main-button(href='https://form.typeform.com/to/YDb5aG') Book Now
      // ***** Pricing Item End *****
      // ***** Pricing Item Start *****
      .col-lg-4.col-md-6.col-sm-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.6s')
        .pricing-item
          .pricing-header
            h3.pricing-title Premium
          .pricing-body
            .price-wrapper
              span.currency $
              span.price Custom
              span.period per project
            ul.list
              li.active Branding
              li.active Strategy
              li.active Designing
              li.active Photography
              li.active Copywriting
              li.active Deployment
          .pricing-footer
            a.main-button(href='https://form.typeform.com/to/YDb5aG') Book Now
      // ***** Pricing Item End *****
// ***** Pricing Plans End *****
// ***** Contact Us Start *****
section#contact-us.section.colored
  .container
    // ***** Section Title Start *****
    .row
      .col-lg-12
        .center-heading(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.2s')
          h2.section-title(style='font-size: 20px; color: #ef488e')
            | Do you love me yet?
          h2#amaze.section-title.pdesk
            | Let&apos;s create something amazing together!
          h2#amaze.section-title.pmob
            | Let&apos;s Work Together!
          br
          div(style='position: relative')
          a.button.typeform-share.contact-me(aria-label='Contact Me' data-text='Contact Me' rel='noopener' href='https://form.typeform.com/to/YDb5aG' data-mode='popup')
            | Contact Me
          script.
            (function () {
            var qs,
            js,
            q,
            s,
            d = document,
            gi = d.getElementById,
            ce = d.createElement,
            gt = d.getElementsByTagName,
            id = 'typef_orm_share',
            b = 'https://embed.typeform.com/';
            if (!gi.call(d, id)) {
            js = ce.call(d, 'script');
            js.id = id;
            js.src = b + 'embed.js';
            q = gt.call(d, 'script')[0];
            q.parentNode.insertBefore(js, q);
            }
            })();
      .offset-lg-3.col-lg-6
        .center-text(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.4s')
          br
          p#opento.pdesk(style='margin-top: 10px')
            | I&apos;m open to collaborations as well as contracts.
          p# opento .pmob(style='margin-top: 10px')
            | Open to collaborations and contracts.
          p# download
            | Download my
            strong
              a.download(href='https://www.dropbox.com/s/j6v8yv2q3ca31zh/Designer.pdf?dl=0' style='color: #7e5dea' title='Download Resume') Resume
            |                 and
            strong
              a.download(href='https://www.dropbox.com/s/tnm76jdjgimoh4k/Portfolio.pdf?dl=0' style='color: #7e5dea' title='Download Portfolio') Portfolio
          p#aboutme
            a(href='#' style='color: #ef488e' title='About Me')
              | Wanna know more about me? 
              i.fas.fa-arrow-right
// ***** Contact Us End *****
a.typeform-share.button.chat-blob(rel='noopener' title='Contact Ayush' href='https://form.typeform.com/to/YDb5aG?typeform-medium=embed-snippet' data-mode='popover' style='\
width: 50px;\
height: 50px;\
position: fixed;\
box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06),\
0px 2px 4px rgba(0, 0, 0, 0.08);\
right: 26px;\
bottom: 26px;\
border-radius: 50%;\
display: flex;\
align-items: center;\
justify-content: center;\
cursor: pointer;\
background: #ff589e;\
overflow: hidden;\
line-height: 0;\
' target='_blank')
  span.icon
    img(alt='contact-me' src='assets/images/chat-icon.svg' width='18px' height='18px')
script(defer='').
  (function () {
  var qs,
  js,
  q,
  s,
  d = document,
  gi = d.getElementById,
  ce = d.createElement,
  gt = d.getElementsByTagName,
  id = 'typef_orm_share',
  b = 'https://embed.typeform.com/';
  if (!gi.call(d, id)) {
  js = ce.call(d, 'script');
  js.id = id;
  js.src = b + 'embed.js';
  q = gt.call(d, 'script')[0];
  q.parentNode.insertBefore(js, q);
  }
  })();
// ***** Footer Start *****
footer
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        p(style='\
        text-align: center;\
        font-weight: 400;\
        font-size: 16px;\
        color: #fff;\
        letter-spacing: 0.88px;\
        ')
          | Let&apos;s stay in touch
        br
        ul.social
          li
            a(href='mailto:adamayush@gmail.com' target='_blank' rel='noopener' title='Email' aria-label='Email')
              i.fas.fa-envelope
          li
            a(href='https://dribbble.com/ayush-chandra' target='_blank' title='Dribble' aria-label='Dribble' rel='noopener')
              i.fab.fa-dribbble
          li
            a(href='https://www.linkedin.com/in/ayush-chandra/' title='LinkedIn' target='_blank' aria-label='LinkedIn' rel='noopener')
              i.fab.fa-linkedin-in
          li
            a(href='https://www.instagram.com/_ayush_chandra_/' target='_blank' rel='noopener' aria-label='Instagram' title='Instagram')
              i.fab.fa-instagram
          li
            a(href='#' target='_blank')
              i.fab.fa-behance(title='Behance' target='_blank' aria-label='Behance' rel='noopener')
    .row
      .col-lg-12
        p.copyright
          i.fas.fa-code
          |  with 
          i.fas.fa-heart
          |  just
          |               for you! 
          br
          br
          | Copyright &copy; 2020 Ayush Kumar
// jQuery
script(src='assets/js/jquery-2.1.0.min.js')
// Bootstrap
script(defer='' src='assets/js/popper.js')
script(defer='' src='assets/js/bootstrap.min.js')
// Plugins
script(defer='' src='assets/js/scrollreveal.min.js')
script(defer='' src='assets/js/waypoints.min.js')
script(defer='' src='assets/js/jquery.counterup.min.js')
script(defer='' src='assets/js/imgfix.min.js')
// Global Init
script(defer='' src='assets/js/custom.js')
script(src='assets/js/kursor.min.js')
// Round Custom Cursor
script.
  new kursor({
  color: '#ff589e',
  type: 4,
  });
// Typeform button javascript
script.
  (function () {
  var qs,
  js,
  q,
  s,
  d = document,
  gi = d.getElementById,
  ce = d.createElement,
  gt = d.getElementsByTagName,
  id = 'typef_orm_share',
  b = 'https://embed.typeform.com/';
  if (!gi.call(d, id)) {
  js = ce.call(d, 'script');
  js.id = id;
  js.src = b + 'embed.js';
  q = gt.call(d, 'script')[0];
  q.parentNode.insertBefore(js, q);
  }
  })();
script(type='text/javascript').
  $(function () {
  $('a[href*=#]').on('click', function (e) {
  e.preventDefault();
  $('html, body').animate(
  {
  scrollTop: $($(this).attr('href')).offset().top,
  },
  500,
  'linear'
  );
  });
  });
