#section10 {
  position: relative;
  width: 78%;
  height: 33%;
}
#section10::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80%;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 49%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #626262;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 400;
}
.demo a:hover,
.demo a:focus {
  opacity: 0.7;
}
#section10 a {
  padding-top: 40px;
}
#section10 a span {
  position: absolute;
  top: -11px;
  left: 50%;
  width: 20px;
  height: 31px;
  margin-left: -15px;
  border: 2px solid #8261ee;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 60%;
  content: "";
  width: 3px;
  height: 5px;
  margin-left: -3px;
  background-color: #8261ee;
  border-radius: 40%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 8px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 8px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
